# ques 1

In [13]:
def fun():
    
    kilometer = float(input("Enter the value: "))
    
    conv = 0.621371
    miles = kilometer*conv                  
    print(miles)
    return

In [14]:
fun()

Enter the value: 3
1.8641130000000001

# ques 2

In [23]:
def fun1():
    celcius = float(input("Enter the value: "))
    farenheit_conv = 32
    
    farenheit = (celcius * 9/5)+ farenheit_conv
    print(farenheit)
    return

In [25]:
fun1()

Enter the value: 2
35.6

# ques 3

In [44]:
import calendar as cl
def fun2():
    n = int(input('enter the month: '))
    n1 = int(input('enter the year: '))
    
    print(cl.month(n1,n))
    return fun2

In [50]:
fun2()

enter the month: 1
enter the year: 1969
    January 1969
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [53]:
def fun2():
    n1 = int(input('enter the year: '))
    
    print(cl.calendar(n1))
    return fun2

In [54]:
fun2()

enter the year: 1999
                                  1999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

# ques 4

In [57]:
import cmath
a = 1
b = 2
c = 3
d = (b**2)-(4*a*c )
solution1 = (-b+cmath.sqrt(d))/(2*a)
print(solution1)

(-1+1.4142135623730951j)

# ques 5

In [55]:
a = int(input("enter first number"))
b = int(input("enter second number"))

a = a-b
b = a+b
a = b-a

print(a)
print(b)

enter first number1
enter second number2
2
1