## Ques 1

In [3]:
test1 = "This is a test of the emergency text system,"
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

## Ques2

In [4]:
with open('test.txt', 'r') as file:
    test2 = file.read()
    
print(test2)
print(test1==test2)

This is a test of the emergency text system,
True

there is no difference

## Ques 3

In [6]:
data = ''' title, author, year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China MiÃ©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

In [19]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

OperationalError: table books already exists

In [ ]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

## Ques 6

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

## Ques 7

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

## Ques 8

In [ ]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

## Ques 9

In [ ]:
! python -m pip install redis

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

## Ques 10

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')